*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}
h1{
    text-align: center;
    padding: 40px 0;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
}
.card{
    width: 250px;
    height: 300px;
    border: 1px solid lightgray;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;

}
.card img{
    width: 60%;
    border-radius: 20px;
    flex-direction: column;
}
.card p{
    font-size: 25px;
    font-weight: 600;
}
